#title{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

li{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#textLegal{
    font-size: 0.688em;
}