*{
    margin: 0;
}
#header{
    height: 150px;
    margin-bottom: 5px;
}

#header-content{
    height: 100%;
    margin-left: 90px;
    margin-right: 90px;
}

#logo-generalitat{
    margin-top: 10px;
    margin-bottom: 10px;
}

#subHeader{
    height: 100px;
}

#subHeader-content{
    height: 100%;
    margin-left: 90px;
    margin-right: 90px;
}

.bodier{
    margin-left: 90px;
    margin-right: 90px;
}
footer{
    padding-top: 50px;
    margin-top:15px;
}
.footer{
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}
#contingut{
    margin-left: 400px;
    margin-right: 400px;
}
.textLegal{
    margin-left: 150px;
}
.link{
    margin-top:15px;
}